################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/.vs/2D-Deformable-body-in-Unity/v16
/Library
/Logs
/obj/Debug
